<!DOCTYPE html>

{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnlighTan</title>
    <link rel="stylesheet" href ="{% static 'css/main.css' %}">
    <!-- add font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Kanit&family=Noto+Serif+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400&display=swap" rel="stylesheet">
    
</head>

<body>
    
    <!-- background image -->
    <img class="bg" src="{%static 'img/IMG_2003.jpg' %}" width="100%">

    <div class="toprectangle" width="100%"></div>

    <h1>EnlighTan</h1>

    <div>
        {% if user.is_authenticated %}

        <!-- ปุ่มดูหน้าโปรไฟล์ -->
        <a href="/viewProfile"><button class="viewprofile">ดูโปรไฟล์</button></a>
        {% else %}
        <!-- ปุ่มเข้าสู่ระบบ -->
        <a href="/signIn"><button class="loginbut">เข้าสู่ระบบ</button></a>
        {% endif %}
    </div>   

   
    <div class="say">{{monk}}</div>

    <div class="midrectangle"></div>  

    <div class="midrectangle"></div>


    <div class="flex-option-container">

        

        <div class="important">

            <div class="icon"onclick="location.href='/totalD'">
                <img src="{%static 'img/calendar.png' %}" >
            </div>
            <div class="topic">บทสวดมนต์วันสำคัญ</div>
            <div class="description">ถึงวันสำคัญเเล้ว เเต่ไม่รู้จะสวดอะไรดี ไปดูบทสวดกันเลย</div>  

        </div>

        <div class="daily" onclick="location.href='/7day'">

            <div class="icon">
                <img src="{%static 'img/book.png' %}" width="90">
            </div>
            <div class="topic">บทสวดมนต์ประจำวันเกิด</div>
            <div class="description">คิดไม่ออกหรอว่าจะสวดบทอะไร ไปดูบทสวดประจำวันเกิดกันเลย</div>   

        </div>

        <div class="others" onclick="location.href='/set/บทสวดทั้งหมด/1'">

            <div class="icon">
                <img src="{%static 'img\dots.png' %}" width="60">
            </div>
            <div class="topic">บทสวดมนต์ทั้งหมด</div>
            <div class="description">ไปเลือกบทสวดมนต์ที่ถูกใจ<br>จากในคลังกันเลย</div> 
            
        </div>

    </div>
    

</body>
</html>