<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnlighTan</title>
    
    <!-- add font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Kanit&family=Noto+Serif+SC&display=swap" rel="stylesheet">
    
</head>

<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'others.css' %}" >
    <!-- background image -->
    <div class="top-div">
        <h1>EnlighTan</h1>
        <h1>บทสวดมนต์ทั้งหมด</h1>
    </div>
    <!-- <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
    <lord-icon
        src="https://cdn.lordicon.com/mdgrhyca.json"
        trigger="morph"
        style="width:25px;height:25px">
    </lord-icon> -->

    <div>
        <!-- <div class="login">เข้าสู่ระบบ</div> -->
        <a href="signin.html"><button class="loginbut">เข้าสู่ระบบ</button></a>
            
    </div>    
    

    <div class="flex-option-container">

    <div class="firstThree">
        <div class="block1">
            <label>บูชาพระรัตนตรัย</label>
        </div>
        <div class="block2">
            <label>แผ่เมตตาแก่ตนเอง</label>
        </div>
        <div class="block3">
            <label>พาหุง</label>
        </div>
    </div>

    <div class="secondThree">
        <div class="block4">
            <label>บูชาพระรัตนตรัย</label>
        </div>
        <div class="block5">
            <label>บูชาพระรัตนตรัย</label>
        </div>
        <div class="block6">
            <label>บูชาพระรัตนตรัย</label>
        </div>
    </div>
   
    <div class="thirdThree">
        <div class="block7">
            <label>บูชาพระรัตนตรัย</label>
        </div>
        <div class="block8">
            <label>บูชาพระรัตนตรัย</label>
        </div>
        <div class="block9">
            <label>บูชาพระรัตนตรัย</label>
        </div>
    </div>

    </div>

</body>
</html>