:root{
    --accent:#FFFFFF;
    --accentHover:#DE7941;
    --transition: all 0.3s ease 0s;
}
html,body{
    height: 100%;
    overflow: auto;
}

.upr{
    position: absolute;
    width: 1253px;
    height: 203px;
    left: 0px;
    top: 0px;

}
.downr{
    width: 874px;
    height: 497px;
    left: 379px;
    top: 208px;
}

.pra{
    position: absolute;
    width: 1253px;
    height: 502px;
    left: 0px;
    top: 203px;
    


}
#log{
    position: absolute;
    width: 130px;
    height: 33px;
    left: 1070px;
    top: 48px;
    border-radius: 30pt;
    border: none;
    background-color: #FFFFFF;
    padding: 8px 25px;
    transition: var(--transition);
    font-family:'Noto Sans Thai';
}
#log:hover{
    color: var(--accentHover);
}
#p1{
    position: absolute;
    left:370px;
    top: 280px;
    position: absolute;
    width: 242px;
    height: 66px;
    background: rgba(201, 151, 93, 0.79);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    font-family:'Noto Sans Thai';
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
}
#p1:hover{
    background-color: #FFE8D6;
}
#p2{
    position: absolute;
    left:370px;
    top: 420px;
    position: absolute;
    width: 242px;
    height: 66px;
    background: rgba(201, 151, 93, 0.79);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
}
#p2:hover{
    background-color: #FFE8D6;
}
#p3{
    position: absolute;
    left:370px;
    top: 560px;
    position: absolute;
    width: 242px;
    height: 66px;
    background: rgba(201, 151, 93, 0.79);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    justify-content: center;

    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
}
#p3:hover{
    background-color: #FFE8D6;
}
#p4{
    position: absolute;
    left:660px;
    top: 280px;
    position: absolute;
    width: 242px;
    height: 66px;
    background: rgba(201, 151, 93, 0.79);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    justify-content: center;

    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
}
#p4:hover{
    background-color: #FFE8D6;
}
#p5{
    position: absolute;
    left:660px;
    top: 420px;
    width: 242px;
    height: 66px;
    background: rgba(201, 151, 93, 0.79);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
}
#p5:hover{
    background-color: #FFE8D6;
}
#p6{
    position: absolute;
    left:660px;
    top: 560px;
    width: 242px;
    height: 66px;
    background: rgba(201, 151, 93, 0.79);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
}

#p6:hover{
    background-color: #FFE8D6;
}
#p7{
    position: absolute;
    left:960px;
    top: 380px;
    width: 242px;
    height: 66px;
    background: rgba(201, 151, 93, 0.79);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
}

#p7:hover{
    background-color: #FFE8D6;
}
#p8{
    position: absolute;
    left:960px;
    top: 500px;
    width: 242px;
    height: 66px;
    background: rgba(201, 151, 93, 0.79);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
}

#p8:hover{
    background-color: #FFE8D6;
}#p9{
    position: absolute;
    left:960px;
    top: 620px;
    width: 242px;
    height: 66px;
    background: rgba(201, 151, 93, 0.79);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
}

#p9:hover{
    background-color: #FFE8D6;
}
#etan{      
    position: absolute;
    left: 3.35%;
    right: 75.1%;
    top: 0.02%;
    bottom: 86.1%;

    font-family: 'Noto Serif SC';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.125em;

    color: #FFE454;
    
    /* อยากให้กรอบมันเป็ฯ outter line อ่ะ ตอนนี้เหมือนเป้น inner line */
    -webkit-text-stroke: 1px #C5BAA2;

    text-shadow: 4px 5px 6px rgba(0, 0, 0, 0.38);
    
}
#sear{
    border-radius: 30pt;
    position: absolute;
    width: 530px;
    height: 47.45px;
    left: 395px;
    top: 246px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.seaBar{
    position: absolute;
    left:890px;
    top: 260px;
}
#dowB1{
    position: absolute;
    width: 20px;
    height: 20.11px;
    left: 560px;
    top: 385px;
}
#dowB2{
    position: absolute;
    width: 20px;
    height: 20.11px;
    left: 860px;
    top: 385px;
}
#dowB3{
    position: absolute;
    width: 20px;
    height: 20.11px;
    left: 1160px;
    top: 385px;
}
#dowB4{
    position: absolute;
    width: 20px;
    height: 20.11px;
    left: 560px;
    top: 505px;
}
#dowB5{
    position: absolute;
    width: 20px;
    height: 20.11px;
    left: 860px;
    top: 505px;
}
#dowB6{
    position: absolute;
    width: 20px;
    height: 20.11px;
    left: 1160px;
    top: 505px;
}
#dowB7{
    position: absolute;
    width: 20px;
    height: 20.11px;
    left: 560px;
    top: 625px;
}
#dowB8{
    position: absolute;
    width: 20px;
    height: 20.11px;
    left: 860px;
    top: 625px;
}
#dowB9{
    position: absolute;
    width: 20px;
    height: 20.11px;
    left: 1160px;
    top: 625px;
}
#mon{
    position: absolute;
    width: 1253px;
    height: 86px;
    left: 0px;
    top: 80px;
    color: #51504F;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}